//
// Article texts
//

$line-height: 1;

$font-size: 30px;

.article {

    line-height: $line-height;

    h1 {
        font-size: $font-size;
        line-height: $font-size;
        // margin: $font-size 0 0;

        @include respond-to('medium') {
            font-size: $font-size*1.5;
        }
    }

    h2 {
        font-size: $font-size*0.7;
        // margin: $font-size*0.5 0;
        line-height: $font-size*0.7;

        @include respond-to('medium') {
            font-size: $font-size;
        }
    }

    h3 {
        font-size: $font-size*0.7;
        // margin: $font-size 0;

        @include respond-to('medium') {
            font-size: $font-size*0.8;
        }
    }

    h4 {
        $font-size: $font-size*0.62;
        font-size: $font-size;
        margin: $font-size*1.5 0 $font-size*0.5;
    }

    p {
        $font-size: $font-size*0.7;
    }
}
