// $icon-size: 20px;
// $icon-size-tiny: $icon-size * 0.5;
// $icon-size-small: $icon-size * 0.75;
// $icon-color-primary: #fff;
//
// .icon {
//     line-height: 1;
//     display: inline-block;
//     height: $icon-size;
//     width: $icon-size;
//     fill: $icon-color-primary;
//
//     &.icon-tiny {
//         width: $icon-size-tiny;
//         height: $icon-size-tiny;
//     }
//
//     &.icon-small {
//         width: $icon-size-small;
//         height: $icon-size-small;
//     }
//
//     &.icon-large {
//         width: $icon-size;
//         height: $icon-size;
//     }
//
//     &.icon-white {
//         fill: #FFF;
//     }
// }


// Icon font classes

.icon-checkmark {
    @extend %icon-font;
    &:before {
        content: "\e90e";
    }
}
.icon-chevron-thin-down {
    @extend %icon-font;
    &:before {
       content: "\e900";
   }
}
.icon-chevron-thin-left {
    @extend %icon-font;
    &:before {
        content: "\e901";
    }
}
.icon-chevron-thin-right {
    @extend %icon-font;
    &:before {
        content: "\e902";
    }
}
.icon-chevron-thin-up {
    @extend %icon-font;
    &:before {
        content: "\e903"
    }
}
.icon-cross {
    @extend %icon-font;
    &:before {
        content: "\e904";
    }
}
.icon-email {
    @extend %icon-font;
    &:before {
        content: "\e905";
    }
}
.icon-mail {
    @extend %icon-font;
    &:before {
        content: "\e906";
    }
}
.icon-mobile {
    @extend %icon-font;
    &:before {
        content: "\e907";
    }
}
.icon-old-phone {
    @extend %icon-font;
    &:before {
        content: "\e908";
    }
}
.icon-sweden {
    @extend %icon-font;
    &:before {
        content: "\e909";
    }
}
.icon-facebook {
    @extend %icon-font;
    &:before {
        content: "\e90a";
    }
}
.icon-pinterest {
    @extend %icon-font;
    &:before {
        content: "\e90b";
    }
}
.icon-twitter {
    @extend %icon-font;
    &:before {
        content: "\e90c";
    }
}
.icon-cross2 {
    @extend %icon-font;
    &:before {
        content: "\e90d";
    }
}
