<div class="overlay navigation-overlay">

    <!-- <img src="images/lofoten-village.jpg" class="overlay__media"> -->

    <!-- <video class="overlay__media" autoplay="" loop="">
        <source src="videos/maaemo-film-2.mp4" type="video/mp4">
        <source src="videos/maaemo-film-2.ogv" type="video/ogg">
    </video> -->

    <div class="navigation-overlay__inner">

        <div class="navigation-overlay__content">

            <a href="/" class="navigation-overlay__logo-wrap">
                <img src="/images/svg/lofotpils-logo-wave-white.svg" class="navigation-overlay__logo">
            </a>

            <nav class="main-navigation">
                <ul class="main-navigation__list">
                    <li class="main-navigation__item">
                        <a class="main-navigation__link" href="beers.html">Lofotpils Øl
                            <span class="main-navigation__link-inner">Se vores utvalg av forfriskende øl</span>
                        </a>
                    </li>
                    <li class="main-navigation__item">
                        <a class="main-navigation__link" href="/">Om Lofotpils
                            <span class="main-navigation__link-inner">Hva, hvor og hvem er Lofotpils?</span>
                        </a>
                    </li>
                    <li class="main-navigation__item">
                        <a class="main-navigation__link" href="/">Kontakt oss
                            <span class="main-navigation__link-inner">Vi vil gjerne høre fra deg</span>
                        </a>
                    </li>
                    <!-- <li class="main-navigation__item">
                        <a class="main-navigation__link" href="/">Prosessen
                            <span class="main-navigation__link-inner">Your backstage pass</span>
                        </a>
                    </li> -->
                    <!-- <li class="main-navigation__item">
                        <a class="main-navigation__link" href="/">Blog
                            <span class="main-navigation__link-inner">Bryggmesterens hjørne og mer..</span>
                        </a>
                    </li> -->
                    <!-- <li class="main-navigation__item"><a class="main-navigation__link" href="/">Lofotpils near me</a></li> -->
                    <li class="main-navigation__item">
                        <a class="main-navigation__link" href="/">Presse
                            <span class="main-navigation__link-inner">Presse materiale</span>
                        </a>
                    </li>
                    <!-- <li class="main-navigation__item"><a class="main-navigation__link" href="/stuff.html">Just stuff</a></li> -->
                </ul>
            </nav>

        </div>
    </div>
</div>
