<div class="page-header">

    <div class="language-chooser">
        <span class="language-chooser__active">Norsk</span>
        <ul class="language-chooser__list">
            <li class="language-chooser__item">
                <a href="/en">English</a>
            </li>
            <li class="language-chooser__item">
                <a href="/de">Deutsch</a>
            </li>
        </ul>
    </div>

    <div class="page-header__logo-wrapper">
        <a href="/">
            LOGO
        </a>
    </div>

    <div class="main-nav__trigger">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
    </div>

</div>
